.container {
  padding: 1rem;
}

select {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

button {
  border: none;

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}
