.cross-sell {
  margin-top: 2rem;

  &__title {
    text-align: center;
  }

  &__product {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__price {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
  }

  &__options {
    border: 1px solid #d3d3d3;
    padding: 0.25rem 0.25rem 0 0.25rem;
    margin-right: 1rem;
    font-size: 0.875rem;

    label {
      font-weight: 300;
    }

    select {
      width: 100%;
      padding-bottom: 0.25rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 0.5rem 1rem;

    img {
      width: 18px;
    }
  }
}
